#page-wrapper {
  padding-top: 70px;
}
#profile-banner {
  height: 80vh;
}

#profile-wrapper {
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#profile-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: inline-block;
}

#profile-desc {
  transform: translateY(-90%);
  padding-left: 5px;
  display: inline-block;
}
