#page-wrapper {
  display: relative;
  height: 100vh;
  width: 100vw;
}
#profile-banner {
  height: 80vh;
}

#profile-wrapper {
  vertical-align: middle;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#profile-img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  display: inline-block;
}

#profile-desc {
  transform: translateY(-90%);
  padding-left: 5px;
  display: inline-block;
}

/////////////

#fixedProfile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  // background-image: url("https://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");
  z-index: -1;
}

#fixedProfileContent {
  border: 1px dotted black;
  height: 200px;
  width: 90vw;
  position: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  img {
    display: inline-block;
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }

  #fixedProfileDesc {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: inline-block;
    border: 1px dotted red;
  }
}

#about {
  margin-top: 100vh;
  height: 100vh;
  // width: 100vw;
  background: #003491;
}
