#navbar {
  width: 100vw;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-weight: lighter;
  text-transform: capitalize;

  #navItems {
    display: inline-block;
  }

  i {
    position: absolute;
    left: 5px;
    color: rgb(200, 200, 200);

    &:hover {
      color: rgb(0, 200, 0);
      transition: color 0.3s;
    }
  }

  a {
    display: inline-block;
    color: rgb(200, 200, 200);
    padding: 0 5px;
    text-decoration: none;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: rgb(200, 200, 200);
      transition: width 0.3s;
    }

    &:hover {
      color: rgb(0, 200, 0);
      transition: color 0.3s;
    }

    &:hover:after {
      width: 100%;
      height: 2px;
      background: rgb(0, 200, 0);
      transition: width 0.3s;
    }
  }
}
